
<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>xVector Labs</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="upload" class="menu-about">
      Upload CSV
    </LinkTo>
    <LinkTo @route="dataset" class="menu-contact">
      Plot
    </LinkTo>
  </div>
</nav>

