<NavBar />
<Jumbo>
  <h2>Discover and capture value from data in days, not in months or years.</h2>
  <p>A unified analytics platform that lets you connect, enrich, visualize, model and consume insights from data.</p>

  <a href="https://www.xvectorlabs.com/" target="new">
    <button   class="button" type="button" >About Us</button>
  </a>
</Jumbo>



{{!-- <div class="rentals">
  <ul class="results">
    {{#each @model as |rental|}}
      <li><Rental @rental={{rental}}/></li>
    {{/each}}
    
  </ul>
</div> --}}