<NavBar />
<head>
    <script src="js/plotly.js"></script>
</head>


<body>
    <div id="graph1" style="width:600px;height:250px;"></div>
     <ul class="results">
    {{#each @model as |dataset|}}
      <li>{{dataset}}</li>
    {{/each}}
    
  </ul>
</body>



<script>
    graph1 = document.getElementById('graph1');
    Plotly.newPlot( graph1, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );
</script>